html{
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#60f1f6,#6ef1f6);
    overflow: hidden;
    height: 100%;
} 

.thanhtren .icontruong{
    display: flex;
    justify-content: center;
}
.login-box{
    position: absolute;
    top:50%;
    left: 50%;
    width: 400px;
    padding: 20px 40px 40px 40px;
    transform: translate(-50%,-50%);
    background: linear-gradient(#5a5df0,hsl(246, 63%, 51%));
    /* background: rgb(78, 78, 255); */
    box-sizing: border-box;
    box-shadow: 0 15px 25px lightblue;
    border-radius: 10px;
}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}
.login-box img{
    box-shadow: none;
    background-color: transparent;
}
.login-box .user-box{
    position: relative;
}
.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color:white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: rgb(50, 255, 255);
    font-size: 12px;
}
.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color:aqua;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    /* margin-top: 25px; */
    letter-spacing: 4px;
}
.login-box a:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow:  0 0 5px aqua,
                0 0 25px aqua,
                0 0 50px aqua,
                0 0 100px aqua;
}
.login-box a span {
    position: absolute;
    display: block;
}
.login-box a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,aqua);
    animation: btn-animl 1s linear infinite;
}
@keyframes btn-animl {
    0%
    {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}
.login-box a span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,aqua);
    animation: btn-animl2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-animl2 {
    0%
    {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}
.login-box a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,aqua);
    animation: btn-animl3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-animl3 {
    0%
    {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}
.login-box a span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,aqua);
    animation: btn-animl4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-animl4 {
    0%
    {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}
.t{
    background: none;
}
.login-box .submit-button {
    text-align: center;
    /* margin-top: 20px; */
}

.login-box .submit-button a {
    display: inline-block;
}
.login-box .additional-links {
    display: flex;
    justify-content: space-between; /* Căn các phần tử con sang hai bên */
}

.login-box .additional-links .link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    font-size: 12px;
    background-color: transparent;
    border-color: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    box-shadow: none;
}

.login-box .additional-links .link.left {
    order: 1; /* Đặt thứ tự của phần tử này */
}

.login-box .additional-links .link.right {
    order: 2; /* Đặt thứ tự của phần tử này */
}
.login-box .additional-links .link:hover {
    color: khaki; /* Đổi màu chữ khi trỏ chuột vào */
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url('path/to/eye-icon.png'); /* Đặt đường dẫn hình ảnh của biểu tượng mắt ở đây */
    background-size: cover;
}

img{
    filter: none;
    border-radius: 15%;

}
